name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: replace_envs
      uses: franzbischoff/replace_envs@v2
      env:
        CLIENT_ID: ${{ secrets.CLIENT_ID }}
        CLIENT_SECRET: ${{ secrets.API_KEY }}
        USERNAME: ${{ secrets.USERNAME }}
        PASSWORD: ${{ secrets.PASSWORD }}
        WHITELIST: ${{ secrets.WHITELIST }}
        SUBREDDIT: ${{ secrets.SUBREDDIT }}
    - name: Build and push
      uses: docker/build-push-action@v5
      with:
        push: true
        tags: latest
